:root {
    --bg_color: #222;
    --word_color: #EEE;
    --green_color: rgb(58, 247, 118);
    --pink_color:pink;
  }

body{
    background-color: var(--bg_color);
    height:200vh;
    margin: 0;
    margin-bottom:10vh;
}


.SectionTitleSpace{
    position:relative;
    top:0;
    height:7vw;
    width:100%;
}
.SectionTitleSpace > .SectionTitleText{
    position:absolute;
    top:0;
    height:7vw;
    width:auto;
    font-size:7vw;
    text-align: center;
    line-height: 100%;
    color:var(--pink_color);
    border-bottom: solid 0.5vw var(--pink_color);
}

/* .SectionTitle > .SectionTitleCircle{
    position:absolute;
    top:0;
    height:6vw;
    width:6vw;
    border-radius: 50%;
    border:0.5vw solid var(--pink_color);
} */

/* .SectionTitle > .SectionTitleIcon{
    position:absolute;
    top:0;
    height:7vw;
    width:7vw;
    font-size:7vw;
    text-align: center;
    line-height: 100%;
    color:var(--pink_color);
} */