#RoadingScrean{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #222;
}

#RoadingScrean > #RoadingIcon{
    color:greenyellow;
    position:absolute;
    height:10vw;
    line-height:10vw;
    top:calc(50vh - 5vw);
    font-size:10vw;
    left:20vw;
    transition: 2s;
}

#RoadingScrean > #RoadingMessage{
    color:greenyellow;
    position:absolute;
    height:10vw;
    line-height:10vw;
    top:calc(50vh - 5vw);
    font-size:10vw;
    left:35vw;
}