#TitleScreanBack{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: #229;
}

#TitleScrean{
    position:absolute;
    top:calc(50vh - 27vw);
    left:0;
    width:100vw;
    height:54vw;
    background-color: #222;
    transition:1s;
}

#TitleScrean > #Title_1{
    position:absolute;
    top:15%;
    left:5vw;
    font-size: 4vw;
    color:white;
    transition:1s;
}

#TitleScrean > #Title_2{
    position:absolute;
    top:15%;
    left:44.5vw;
    font-size: 4vw;
    color:white;
    transition:1s;
}

#TitleScrean > #Title_3{
    position:absolute;
    top:15%;
    left:58vw;
    font-size: 4vw;
    color:white;
    transition:1s;
}

#TitleScrean > #Title_4{
    position:absolute;
    top:15%;
    left:79.3vw;
    font-size: 4vw;
    color:white;
    transition:1s;
}

#TitleScrean > #Title_5{
    position:absolute;
    top:30%;
    left:5vw;
    width:90vw;
    font-size: 4vw;
    text-align:center; 
    color:white;
    transition:1s;
}

#TitleScrean > #Title_6{
    position:absolute;
    top:45%;
    left:5vw;
    width:90vw;
    font-size: 4vw;
    text-align:center; 
    color:white;
    transition:1s;
}

#TitleScrean > #Title_G1{
    position:absolute;
    top:15%;
    left:5vw;
    font-size: 4vw;
    color:transparent;
    transition:1s;
}

#TitleScrean > #Title_G2{
    position:absolute;
    top:15%;
    left:44.5vw;
    font-size: 4vw;
    color:transparent;
    transition:1s;
}

#TitleScrean > #Title_G3{
    position:absolute;
    top:15%;
    left:58vw;
    font-size: 4vw;
    color:transparent;
    transition:1s;
}

#TitleScrean > #Title_G4{
    position:absolute;
    top:15%;
    left:79.3vw;
    font-size: 4vw;
    color:transparent;
    transition:1s;
}

#TitleScrean > #Title_G5{
    position:absolute;
    top:20%;
    left:59.3vw;
    font-size: 5vw;
    color:transparent;
    transition:2s;
}

#TitleScrean > #TitleButtonSpace{
    position:absolute;
    display: flex;
    top:55%;
    left:15%;
    height:30%;
    width:70%;
    background-color: transparent;
    transition:2s;
}

#TitleButtonSpace > .TitleButton{
    position:relative;
    margin-left:5%;
    margin-right:5%;
    height:100%;
    width:calc(70% / 3);
    background-color: #222;
    color:transparent;
    transition:2s;
}

.TitleButton > .TitleButtonIcon{
    position:absolute;
    font-size:8vw;
    top:0%;
    left:0%;
    height:70%;
    width:100%;
    text-align: center;
    transition:2s;
}

.TitleButton > .TitleButtonText{
    position:absolute;
    font-size:3vw;
    top:70%;
    left:0%;
    height:30%;
    width:100%;
    text-align: center;
    transition:2s;
}
